<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Activation</title>
</head>
<body>
    <p>Hello {{ username }},</p>
    <p>Please click on the following link to reset your passwort:</p>
    <a href="{{ reset_password_link }}">reset link</a>
    <p>If the link does not work, please copy the following url into your browser: {{ reset_password_link }}</p>
    <p>Kind regards,<br>your Videoflix</p>
</body>
</html>
